<%#= The show view is a wrapper for a partial that renders a listing of all of the items that have been added to our cart. We wrap the partial with a div so that we can modify it using AJAX. %>
<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>